[submodule "FormaSchool-back"]
	path = FormaSchool-back
	url = https://github.com/flix-flix/FormaSchool-back.git
[submodule "FormaSchool-Front"]
	path = FormaSchool-Front
	url = https://github.com/flix-flix/FormaSchool-Front.git
